table {
  text-align: center;
}

thead td {
  font-weight: 600;
  font-size: 22px;
  border: transparent;
  background-color: rgb(222, 215, 215);
}

td {
  font-size: 20px;
  padding: 10px 70px;
  border: 1px solid rgb(203, 186, 186);
}

tbody td:first-child {
  text-align: left;
  padding: 10px 70px;
}

.defaultBorder {
  border: 1px solid rgb(203, 186, 186);
}

td.isActive {
  border: 2px solid blue;
}
