table {
  text-align: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

thead td {
  font-weight: 600;
  font-size: 22px;
  border: transparent;
  background-color: rgb(222, 215, 215);
}

td {
  font-size: 20px;
  padding: 10px 70px;
  border: 1px solid rgb(203, 186, 186);
}

tbody td:first-child {
  text-align: left;
  padding: 10px 70px;
}

.defaultBorder {
  border: 1px solid rgb(203, 186, 186);
}

td.isActive {
  border: 2px solid blue;
  font-weight: bold;
}

.totalRow {
  background-color: rgb(157, 240, 157);
}

.positiveRow {
  background-color: rgba(245, 222, 179, 0.4);
}
